@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  word-break: keep-all;
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}
